//Background Colors
$primary-layer: #0C0C0C;
$second-layer: #181818;
$third-layer: #242424;

//Text color
$text-primary: #FFFFFF;
$text-secondary: #F2F2F2;
$text-darker: #8B8B8B;
$text-link: #008CFF;
